@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2"), url("../fonts/oswald/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff2") format("woff2"), url("../fonts/lato/Lato-Regular.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: "Lato", "Arial", sans-serif;
}

.page__main {
  flex-grow: 1;
}

.container {
  padding: 0 20px;
}

.main-header {
  padding: 14px 0;
}

.main-header__container {
  display: flex;
  justify-content: space-between;
}

.main-logo {
  display: flex;
  align-items: center;
}
.main-logo:hover, .main-logo:focus {
  opacity: 0.8;
  outline: none;
}
.main-logo:active {
  opacity: 0.6;
}

.main-logo__name {
  margin-left: 56px;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__toggle {
  display: block;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  background-image: url("../img/icons/close-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}
.main-nav__toggle--burger {
  background-image: url("../img/icons/burger-icon.svg");
}

.main-nav__list {
  position: absolute;
  top: 66px;
  left: 0;
  z-index: 99;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  list-style-type: none;
}
.main-nav__list--hidden {
  display: none;
}

.main-nav__item {
  padding: 23px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
.main-nav__item:last-child {
  border-bottom: 1px solid #e6e6e6;
}

.main-nav__link {
  position: relative;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
.main-nav__link:hover, .main-nav__link:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.main-nav__item--current:hover .main-nav__link {
  color: #000000;
}

.main-nav__item--current .main-nav__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  margin-top: 8px;
  background-color: #68b738;
}

.hero {
  position: relative;
  padding: 27px 0 10px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 302px;
  background-color: #68b738;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/hero-background.jpg"), linear-gradient(#4c4a4f, #4c4a4f);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  margin: 0 0 25px;
  text-align: center;
}

.hero__slogan {
  margin: 0 0 29px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero__image {
  margin: 0 auto 3px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background: #68b738;
  border: none;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #5eaa2f;
  outline: none;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button--secondary {
  color: #444444;
  background: #f2f2f2;
}
.button--secondary:hover, .button--secondary:focus {
  background: #ebebeb;
}
.button--secondary:active {
  color: rgba(68, 68, 68, 0.3);
  background: #ebebeb;
}

.programs {
  padding: 10px 0;
}

.programs__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.programs__item {
  position: relative;
  padding: 24px 20px 0;
  background-color: #f2f2f2;
}
.programs__item:not(:last-child) {
  margin-bottom: 20px;
}

.programs__item-title {
  padding-left: 70px;
  margin: 0 0 29px;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.programs__item-description {
  margin: 0;
  padding-bottom: 23px;
  font-family: "Lato", "Arial", sans-serif;
}

.programs__item-link {
  display: flex;
  align-items: center;
  padding: 15px 0 18px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border-top: 1px solid #d9d9d9;
}
.programs__item-link:active, .programs__item-link:focus {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.about-product {
  padding: 10px 0 49px;
}

.about-product__title {
  margin: 0 0 40px;
}

.about-product__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.about-product__list-item {
  min-height: 60px;
  padding: 0 0 0 80px;
  font-family: "Lato", "Arial", sans-serif;
  background-position: left top;
  background-size: 60px;
  background-repeat: no-repeat;
}
.about-product__list-item:not(:last-child) {
  margin-bottom: 20px;
}
.about-product__list-item--leaf {
  background-image: url("../img/icons/leaf-icon.svg");
}
.about-product__list-item--powder {
  background-image: url("../img/icons/powder-icon.svg");
}
.about-product__list-item--food {
  background-image: url("../img/icons/food-icon.svg");
}
.about-product__list-item--alarm {
  background-image: url("../img/icons/alarm-icon.svg");
}

.main-footer {
  background-color: #f2f2f2;
}

.footer__info {
  padding: 20px 0;
}

.main-footer__logo {
  display: block;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
.main-footer__logo:focus {
  outline: none;
}

.main-footer__logo svg {
  fill: #111111;
}

.main-footer__logo:hover svg,
.main-footer__logo:focus svg {
  fill: #3e3e3e;
}

.main-footer__logo:active svg {
  fill: #6b6b6b;
}

.contacts {
  display: flex;
  padding: 26px 20px;
}
.contacts--light {
  background-color: #ffffff;
}

.contacts__info {
  flex-basis: 50%;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  flex-basis: 50%;
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 20px;
}

.map {
  width: 100%;
  height: 362px;
  background-color: #f2f2f2;
  background-image: url("../img/map-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: #444444;
}
.copyright:focus {
  outline: none;
}
.copyright:active {
  color: rgba(68, 68, 68, 0.3);
}

.copyright svg {
  fill: #666666;
}

.copyright:hover svg,
.copyright:focus svg {
  fill: #68b738;
}

.copyright:active svg {
  fill: rgba(104, 183, 56, 0.3);
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  list-style-type: none;
}

.socials__item:not(:last-child) {
  margin-right: 24px;
}

.socials__link:focus {
  outline: none;
}

.socials__link svg {
  fill: #666666;
}

.socials__link:hover svg,
.socials__link:focus svg {
  fill: #68b738;
}

.socials__link:active svg {
  fill: rgba(104, 183, 56, 0.3);
}

.example {
  padding: 25px 0 40px;
  background-color: #eaeaea;
}

.example__title {
  margin: 0 0 40px;
}

.example__description {
  margin: 0 0 20px;
  font-family: "Lato", "Arial", sans-serif;
}

.example__properties {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.example__property {
  width: 100%;
  max-width: 50%;
  height: min-content;
  padding: 15px 20px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
}
.example__property:not(:last-child) {
  margin-right: 32px;
}

.example__property-number {
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.example__property-description {
  max-width: 87px;
  margin: 0 auto -30px;
  padding: 0 5px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;
}

.example__info {
  margin-bottom: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.slider {
  position: relative;
}

.slider__layers {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.slider__layer {
  display: flex;
  flex-basis: 50%;
  overflow: hidden;
}
.slider__layer:last-child {
  justify-content: end;
}

.slider__control {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  height: 100%;
}

.slider__control-item {
  background: none;
  border: none;
  cursor: pointer;
}
.slider__control-item::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  border-radius: 2px;
  border: 2px solid #666666;
}
.slider__control-item:focus {
  outline: none;
}
.slider__control-item:hover::after, .slider__control-item:focus::after {
  border-color: #68b738;
}
.slider__control-item:active::after {
  border-color: rgba(94, 170, 47, 0.6);
}

.slider__control-item path {
  fill: #666666;
}

.slider__control-item:hover path,
.slider__control-item:focus path {
  fill: #68b738;
}

.slider__control-item:active path {
  fill: rgba(94, 170, 47, 0.6);
}

.slider__control-item rect {
  stroke: #666666;
}

.slider__control-item:hover rect,
.slider__control-item:focus rect {
  stroke: #68b738;
}

.slider__control-item:active rect {
  stroke: rgba(94, 170, 47, 0.6);
}

.catalog {
  padding: 27px 0 0;
  border-top: 1px solid #d9d9d9;
}

.catalog__title {
  margin-bottom: 40px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products__list {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products__item {
  border-top: 1px solid #ebebeb;
}

.products__more {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 20px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.products__more-content::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 23px;
  background: url("./../../img/icons/plus-icon.svg") center no-repeat;
}

.products__more-title {
  margin: 0 0 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #111111;
}

.products__more-description {
  margin: 0 0 21px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 25px;
}

.product-card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  min-height: 107px;
}

.product-card__content {
  flex-basis: 50%;
}

.product-card__title {
  display: block;
  max-width: 76px;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #222222;
}

.product-card__properties {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.product-card__property {
  display: flex;
  justify-content: space-between;
}

.product-card__property span:last-child {
  margin-left: 20px;
}

.product-card__button {
  margin-top: 17px;
}

.additional-products {
  padding-top: 25px;
  padding-bottom: 35px;
}

.additional-products__title {
  margin: 0 0 36px;
}

.additional-products__list {
  padding: 0;
  margin: 0 0 35px;
  list-style-type: none;
}

.additional-products__card {
  display: flex;
  flex-wrap: wrap;
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;
}
.additional-products__card:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional-products__card-title {
  flex-basis: 100%;
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.additional-products__card-properties {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  font-family: "Lato", "Arial", sans-serif;
  line-height: 20px;
}

.additional-products__card-properties span:last-child {
  margin-left: 20px;
}

.additional-products__banner {
  padding: 59px 58px 43px;
  background-color: #68b738;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/banner-background.jpg"), linear-gradient(#4c4a4f, #4c4a4f);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.additional-products__banner::before {
  content: "";
  display: block;
  width: 78px;
  height: 80px;
  margin: 0 auto 48px;
  background: url("./../../img/icons/gift-icon.svg") center no-repeat;
}

.additional-products__banner-info {
  margin: 0;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.program-selection {
  padding: 27px 0;
  border-top: 1px solid #d9d9d9;
}

.program-selection__title {
  margin: 0 0 37px;
}

.program-selection__subtitle {
  max-width: 250px;
  margin: 0 0 10px;
  text-transform: uppercase;
  color: #000000;
}

.form {
  padding: 5px 0 5px;
}

.form__section--base {
  padding: 24px 0;
}
.form__section--owner {
  padding-top: 26px;
}
.form__section--comment {
  padding-top: 24px;
}
.form__section--additional {
  padding-top: 24px;
}
.form__section--submit {
  padding-top: 23px;
}

.form__title {
  margin-bottom: 35px;
}

.form__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
}
.form__label:not(:last-child) {
  margin-bottom: 14px;
}

.form__input {
  width: 100%;
  padding: 14px 40px 14px 15px;
  margin-left: 13px;
  font-family: "Oswald", "Arial Narrow", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: none;
  box-shadow: 0 0 0 1px #e7e7e7;
}
.form__input--textarea {
  padding: 14px 15px 10px;
  margin-left: 0;
  resize: none;
}
.form__input:hover {
  box-shadow: 0 0 0 1px #cdcdcd;
}
.form__input:focus {
  box-shadow: 0 0 0 2px #444444;
  outline: none;
}

.form__input-icon {
  position: absolute;
  right: 15px;
  stroke: #000000;
}

.form__input:focus + .form__input-icon {
  stroke: #68b738;
}

.form__list {
  margin: 0 -20px;
  padding: 20px;
  list-style-type: none;
}

.form__section--programs .form__list {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.form__item {
  font-size: 16px;
  text-transform: uppercase;
}
.form__item:not(:last-child) {
  margin-bottom: 13px;
}

.form__control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form__control-mark {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  box-shadow: inset 0 0 0 1px #cdcdcd;
}

.form__checkbox + .form__control-mark {
  width: 26px;
  height: 26px;
}

.form__radio + .form__control-mark {
  border-radius: 50%;
}

.form__checkbox:hover + .form__control-mark,
.form__radio:hover + .form__control-mark {
  box-shadow: inset 0 0 0 1px #bababa;
}

.form__checkbox:disabled + .form__control-mark,
.form__radio:disabled + .form__control-mark {
  box-shadow: inset 0 0 0 1px rgba(186, 186, 186, 0.3);
}

.form__radio:checked + .form__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}

.form__radio:disabled + .form__control-mark::before {
  background-color: rgba(104, 183, 56, 0.3);
}

.form__radio:disabled ~ .form__control-label,
.form__checkbox:disabled ~ .form__control-label {
  color: rgba(34, 34, 34, 0.3);
}

.form__checkbox:checked + .form__control-mark svg {
  fill: #68b738;
}

.form__checkbox:checked:disabled + .form__control-mark svg {
  fill: rgba(104, 183, 56, 0.3);
}

.form__radio:not(:disabled):focus + .form__control-mark,
.form__checkbox:not(:disabled):focus + .form__control-mark {
  box-shadow: inset 0 0 0 1px #bababa;
}

.form__radio:not(:disabled):focus + .form__control-mark::before {
  background-color: #68b738;
}

.form__checkbox:checked:not(:disabled):focus + .form__control-mark svg {
  fill: #68b738;
}

.form__legend {
  display: block;
  margin-top: 21px;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.title {
  display: flex;
}
.title--h2 {
  gap: 20px;
}
.title--h2::before {
  content: "";
  height: 15px;
  width: 0;
  border-bottom: 2px solid #68b738;
}
.title--h2::after {
  content: "";
  height: 15px;
  width: 10px;
  border-bottom: 2px solid #68b738;
  flex-grow: 1;
}

.title__text {
  margin: 0;
  font-weight: 400;
  color: #000000;
}

.title--light .title__text {
  color: #ffffff;
}

.title--h1 .title__text {
  font-size: 36px;
  line-height: 36px;
}

.title--h2 .title__text {
  font-size: 24px;
  line-height: 26px;
}
/*# sourceMappingURL=style.css.map */