@use "./../variables.scss";

.about-product {
  padding: 10px 0 49px;

  @media (min-width: variables.$tablet-width) {
    padding: 25px 0 47px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 30px 0;
  }
}

.about-product__title {
  margin-bottom: 44px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 32px;
  }
}

.about-product__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 137px;
    padding-right: 75px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding-right: 0;
  }
}

.about-product__list-item {
  position: relative;
  min-height: 60px;
  padding: 0 0 0 80px;
  font-family: variables.$secondary-font;
  background-position: left top;
  background-size: 60px;
  background-repeat: no-repeat;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: none;
    width: 140px;
    height: 280px;
    text-align: center;
    font-family: variables.$primary-font;
    font-size: 280px;
    line-height: 280px;
    color: #f2f2f2;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &--leaf {
    background-image: url("../img/icons/leaf-icon.svg");

    &::after {
      content: "1";
    }
  }

  &--powder {
    background-image: url("../img/icons/powder-icon.svg");

    &::after {
      content: "2";
    }
  }

  &--food {
    background-image: url("../img/icons/food-icon.svg");

    &::after {
      content: "3";
    }
  }

  &--alarm {
    background-image: url("../img/icons/alarm-icon.svg");

    &::after {
      content: "4";
    }
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 280px;
    max-width: 247px;
    padding: 151px 0 20px;
    background-position: left top 40px;
    background-size: 80px;

    &::after {
      display: block;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
