@use "./../variables.scss";

.additional-products {
  padding-top: 25px;

  @media (min-width: variables.$tablet-width) {
    padding-top: 70px;
  }
}

.additional-products__title {
  margin-bottom: 36px;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 80px;
  }
}

.additional-products__container {
  @media (min-width: variables.$desktop-width) {
    display: flex;
  }
}

.additional-products__list {
  padding: 0;
  margin: 0 0 35px;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 70px;
  }

  @media (min-width: variables.$desktop-width) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: fit-content;
    margin: 0 80px 0 0;
  }
}

.additional-products__card {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 13px 0 19px;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: variables.$tablet-width) {
    padding: 27px 28px;
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }

  @media (min-width: variables.$desktop-width) {
    flex-wrap: nowrap;
    padding: 15px 0;
    border-left: none;
    border-right: none;
  }
}

.additional-products__content {
  width: 100%;
  margin-bottom: 12px;

  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  @media (min-width: variables.$desktop-width) {
    align-items: center;
    margin: 0 80px 0 0;
  }
}

.additional-products__card-title {
  margin: 0 0 10px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: variables.$tablet-width) {
    max-width: 50%;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products__card-properties {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: variables.$secondary-font;
  line-height: 20px;
}

.additional-products__card-properties span:first-child {
  margin-right: 50px;
}

.additional-products__button {
  @media (min-width: variables.$desktop-width) {
    align-self: center;
    height: fit-content;
    max-width: 244px;
  }
}

.additional-products__banner {
  padding: 59px 58px 43px;
  background-color: variables.$accent-color;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background/banner-background_mobile.jpg"), linear-gradient(#4c4a4f, #4c4a4f);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    display: block;
    width: 78px;
    height: 80px;
    margin: 0 auto 48px;
    background: url("./../../img/icons/gift-icon.svg") center no-repeat;
  }

  @media (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background/banner-background_mobile@2x.jpg"), linear-gradient(#4c4a4f, #4c4a4f);
  }

  @media (min-width: variables.$tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 57px 77px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background/banner-background_tablet.jpg"), linear-gradient(#4c4a4f, #4c4a4f);

    &::before {
      margin: 0;
    }

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background/banner-background_tablet@2x.jpg"), linear-gradient(#4c4a4f, #4c4a4f);
    }
  }

  @media (min-width: variables.$desktop-width) {
    justify-content: center;
    flex-direction: column;
    padding: 56px 42px 43px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background/banner-background_desktop.jpg"), linear-gradient(#4c4a4f, #4c4a4f);

    &::before {
      margin-bottom: 46px;
    }

    @media (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/background/banner-background_desktop@2x.jpg"), linear-gradient(#4c4a4f, #4c4a4f);
    }
  }
}

.additional-products__banner-info {
  margin: 0;
  font-family: variables.$secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  @media (min-width: variables.$tablet-width) {
    max-width: 161px;
    margin-right: 48px;
    text-align: start;
  }

  @media (min-width: variables.$desktop-width) {
    margin-right: 0;
    text-align: center;
  }
}
