@use "./../variables.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-family: variables.$primary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: variables.$accent-color;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--secondary {
    color: variables.$base-text-color;
    background: #f2f2f2;

    &:hover {
      background: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      background: #ebebeb;
    }
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
  }
}
