@use "./../variables.scss";

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: variables.$tablet-width) {
    max-width: variables.$tablet-width;
    padding: 0 30px;
  }

  @media (min-width: variables.$desktop-width) {
    max-width: variables.$desktop-width;
    padding: 0 110px;
  }
}
