@use "./../variables.scss";

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  font-family: variables.$secondary-font;
  font-size: 16px;
  text-decoration: none;
  color: variables.$base-text-color;

  &:focus {
    outline: none;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: variables.$tablet-width) {
    width: 162px;
    padding: 0;
  }
}

.copyright svg {
  fill: #666666;
}

.copyright:hover svg,
.copyright:focus svg {
  fill: variables.$accent-color;
}

.copyright:active svg {
  fill: rgba(104, 183, 56, 0.3);
}
