@use "./../variables.scss";

.form {
  padding: 39px 0 32px;

  @media (min-width: variables.$tablet-width) {
    padding: 66px 0 60px;
  }
}

.form__section {
  &--base {
    margin-bottom: 26px;
  }

  &--owner {
    margin-bottom: 24px;
  }

  &--comment {
    margin-bottom: 23px;
  }

  &--additional {
    margin-bottom: 34px;
  }

  @media (min-width: variables.$tablet-width) {
    margin-bottom: 65px;

    &--additional {
      margin-bottom: 52px;
    }

    &--submit {
      margin: 0;
    }
  }

  @media (min-width: variables.$desktop-width) {
    margin-bottom: 70px;

    &--additional {
      margin-bottom: 60px;
    }

    &--submit {
      margin: 0;
    }
  }
}

.form__title {
  margin-bottom: 35px;
}

@media (min-width: variables.$tablet-width) {
  .form__section--owner .form__title {
    margin-bottom: 76px;
  }

  .form__section--comment .form__title {
    margin-bottom: 87px;
  }

  .form__section--additional .form__title {
    margin-bottom: 57px;
  }
}

@media (min-width: variables.$desktop-width) {
  .form__section--comment .form__title {
    margin-bottom: 78px;
  }
}

.form__group-wrapper {
  @media (min-width: variables.$desktop-width) {
    display: flex;
  }
}

.form__group {
  &--cat {
    margin-bottom: 24px;
  }

  @media (min-width: variables.$tablet-width) {
    &--cat {
      margin-bottom: 72px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &--cat {
      width: 100%;
      margin: 0 80px 0 0;
    }

    &--programs {
      width: 100%;
    }
  }
}

.form__section--owner .form__group {
  @media (min-width: variables.$desktop-width) {
    display: flex;
  }
}

.form__label {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: normal;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.form__section--owner .form__label {
  @media (min-width: variables.$desktop-width) {
    width: 100%;

    &:not(:last-child) {
      margin: 0 80px 0 0;
    }
  }
}

.form__input {
  width: 100%;
  padding: 14px 40px 14px 15px;
  margin-left: 13px;
  font-family: variables.$primary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: variables.$base-text-color;
  border: none;
  box-shadow: 0 0 0 1px #e7e7e7;

  &--textarea {
    padding: 14px 15px 10px;
    margin-left: 0;
    resize: none;
  }

  &:hover {
    box-shadow: 0 0 0 1px #cdcdcd;
  }

  &:focus {
    box-shadow: 0 0 0 2px #444444;
    outline: none;

    &:invalid {
      box-shadow: 0 0 0 2px #ff8282;
    }
  }

  @media (min-width: variables.$tablet-width) {
    padding: 11px 40px 11px 20px;
    font-size: 20px;
    line-height: normal;

    &--textarea {
      height: 175px;
    }
  }
}

.form__input-icon {
  position: absolute;
  right: 15px;
  stroke: #000000;
}

.form__input:focus + .form__input-icon {
  stroke: variables.$accent-color;
}

.form__input:focus:invalid + .form__input-icon {
  stroke: #ff8282;
}

.form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.form__group--programs .form__list {
  margin: 0 -20px;
  padding: 22px 20px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: variables.$tablet-width) {
    margin: 0;
    padding: 23px 27px;
    border: 1px solid #d9d9d9;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 25px 28px;
  }
}

.form__section--additional .form__list {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px 64px;
  }

  @media (min-width: variables.$desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 100px;
  }
}

.form__item {
  font-size: 16px;
  text-transform: uppercase;

  &:not(:last-child) {
    margin-bottom: 13px;
  }

  @media (min-width: variables.$tablet-width) {
    font-size: 20px;
    line-height: normal;
  }
}

.form__section--additional .form__item {
  @media (min-width: variables.$tablet-width) {
    margin-bottom: 0;
  }
}

.form__control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.form__control-mark {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  box-shadow: inset 0 0 0 1px #cdcdcd;

  @media (min-width: variables.$tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__radio + .form__control-mark {
  border-radius: 50%;
}

.form__checkbox:hover + .form__control-mark,
.form__radio:hover + .form__control-mark {
  box-shadow: inset 0 0 0 1px #bababa;
}

.form__checkbox:disabled + .form__control-mark,
.form__radio:disabled + .form__control-mark {
  box-shadow: inset 0 0 0 1px rgba(186, 186, 186, 0.3);
}

.form__radio:checked + .form__control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: variables.$accent-color;
  border-radius: 50%;

  @media (min-width: variables.$tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.form__radio:disabled + .form__control-mark::before {
  background-color: rgba(104, 183, 56, 0.3);
}

.form__radio:disabled ~ .form__control-label,
.form__checkbox:disabled ~ .form__control-label {
  color: rgba(34, 34, 34, 0.3);
}

.form__checkbox:checked + .form__control-mark svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: variables.$accent-color;

  @media (min-width: variables.$tablet-width) {
    width: 36px;
    height: 36px;
  }
}

.form__checkbox:checked:disabled + .form__control-mark svg {
  fill: rgba(104, 183, 56, 0.3);
}

.form__radio:not(:disabled):focus + .form__control-mark,
.form__checkbox:not(:disabled):focus + .form__control-mark {
  box-shadow: inset 0 0 0 1px #bababa;
}

.form__radio:not(:disabled):focus + .form__control-mark::before {
  background-color: variables.$accent-color;
}

.form__checkbox:checked:not(:disabled):focus + .form__control-mark svg {
  fill: variables.$accent-color;
}

.form__section--submit .form__group {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
  }
}

.form__legend {
  display: block;
  margin-top: 21px;
  font-family: variables.$secondary-font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: variables.$accent-text-color;

  @media (min-width: variables.$tablet-width) {
    text-align: start;
  }
}
