@use "./../variables.scss";

.main-logo {
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-logo__image {
  margin-right: 56px;

  @media (min-width: variables.$tablet-width) {
    width: 60px;
    height: 50px;
    margin-right: 13px;
  }

  @media (min-width: variables.$desktop-width) {
    width: 70px;
    height: 60px;
  }
}
