@use "./../variables.scss";

.map {
  width: 100%;
  height: 362px;
  background-color: #f2f2f2;
  background-image: url("../img/background/map-background_mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/map-background_mobile@2x.jpg");
  }

  @media (min-width: variables.$tablet-width) {
    height: 400px;
    background-image: url("../img/background/map-background_tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/map-background_tablet@2x.jpg");
    }
  }

  @media (min-width: variables.$desktop-width) {
    background-image: url("../img/background/map-background_desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/map-background_desktop@2x.jpg");
    }
  }
}

.map iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
