@use "./../variables.scss";

.map {
  width: 100%;
  height: 362px;
  background-color: #f2f2f2;
  background-image: url("../img/map-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: variables.$tablet-width) {
    height: 400px;
  }
}

.map iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}
