@use "./../variables.scss";

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    max-width: 30%;
    padding: 0;
  }
}

.socials__link {
  display: flex;
}

.socials__link svg {
  fill: #666666;
}

.socials__link:hover svg {
  fill: variables.$accent-color;
}

.socials__link:active svg {
  fill: rgba(104, 183, 56, 0.3);
}
