@use "./../variables.scss";

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
  list-style-type: none;
}

.socials__item:not(:last-child) {
  margin-right: 24px;
}

.socials__link:focus {
  outline: none;
}

.socials__link svg {
  fill: #666666;
}

.socials__link:hover svg,
.socials__link:focus svg {
  fill: variables.$accent-color;
}

.socials__link:active svg {
  fill: rgba(104, 183, 56, 0.3);
}
