@use "./../variables.scss";

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 20px 0;
  margin: 0;
  list-style-type: none;

  @media (min-width: variables.$tablet-width) {
    justify-content: flex-end;
    min-width: 165px;
    max-width: 30%;
    padding: 0;
  }
}

.socials__link {
  display: flex;
  color: #666666;

  &:hover {
    color: variables.$accent-color;
  }

  &:active {
    color: rgba(104, 183, 56, 0.3);
  }
}
