@use "./../variables.scss";

.title {
  display: flex;

  &--h2 {
    margin: 0 auto;
    gap: 20px;

    &::before {
      content: "";
      height: 15px;
      width: calc(50% - 160px);
      border-bottom: 2px solid variables.$accent-color;
    }

    &::after {
      content: "";
      height: 15px;
      width: 10px;
      border-bottom: 2px solid variables.$accent-color;
      flex-grow: 1;
    }
  }

  @media (min-width: variables.$tablet-width) {
    &--h2 {
      gap: 40px;
    }

    &::before {
      height: 22px;
      width: calc(50% - 354px);
    }

    &::after {
      height: 22px;
    }
  }

  @media (min-width: variables.$desktop-width) {
    &::before {
      width: calc(50% - 650px);
    }
  }
}

.title__text {
  margin: 0;
  font-weight: 400;
  color: variables.$accent-text-color;
}

.title--h1 .title__text {
  font-size: 36px;
  line-height: 36px;

  @media (min-width: variables.$tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.title--h2 .title__text {
  max-width: 187px;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: variables.$tablet-width) {
    max-width: fit-content;
    font-size: 36px;
    line-height: 36px;
  }
}
